{% extends "base.html" %}
{% block title %}Upcoming reminders{% endblock title %}
{% block content %}
<div class="row">
	<div class="col-lg-9">
		<div class="page-header">
			<h1>Appointments</h1>
		</div>
		{% if not object_list %}
		<p><strong>No Upcoming appointments.</strong>Want to <a href="{% url 'new_appointment' %}">Schedule a new one?</a></p>
		{% endif %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Time</th>
					<th>Created at</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for appointment in object_list %}
				<tr>
					<td><a href="{% url 'view_appointment' appointment.pk %}">{{ appointment.pk }}</a></td>
					<td>{{ appointment.name }}</td>
					<td>{{ appointment.phone_number }}</td>
					<td>{{ appointment.time }}</td>
					<td>{{ appointment.created }}</td>
					<td>
						<a class="btn btn-default btn-xs" href="{% url 'edit_appointment' appointment.pk %}">Edit</a>
						<a class="btn btn-danger btn-xs" href="{% url 'delete_appointment' appointment.pk %}">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-primary" href="{% url 'new_appointment' %}">New</a>
	</div>
</div>
{% endblock %}


